In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
#load data 
world_cup = pd.read_csv('datasets/World Cup 2018 Dataset.csv')
results = pd.read_csv('datasets/results.csv')

In [3]:
world_cup.head()

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Unnamed: 19
0,Russia,A,10.0,0.0,0.0,1.0,65.0,Saudi Arabia,1.0,-1.0,-2.0,Egypt,17.0,NaN,NaN,Uruguay,33.0,0.0,0.0,NaN
1,Saudi Arabia,A,4.0,0.0,0.0,0.0,63.0,Russia,1.0,1.0,2.0,Uruguay,18.0,1.0,1.0,Egypt,34.0,-5.0,-5.0,NaN
2,Egypt,A,2.0,0.0,0.0,0.0,31.0,Uruguay,2.0,-1.0,-2.0,Russia,17.0,NaN,NaN,Saudi Arabia,34.0,5.0,5.0,NaN
3,Uruguay,A,12.0,2.0,2.0,5.0,21.0,Egypt,2.0,1.0,2.0,Saudi Arabia,18.0,-1.0,-1.0,Russia,33.0,0.0,0.0,NaN
4,Porugal,B,6.0,0.0,0.0,2.0,3.0,Spain,3.0,-12.0,-31.0,Morocco,19.0,-1.0,-2.0,Iran,35.0,2.0,5.0,NaN

In [5]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland
1,1873-03-08,England,Scotland,4,2,Friendly,London,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland

In [6]:
#Adding goal difference and establishing who is the winner 
winner = []
for i in range (len(results['home_team'])):
    if results ['home_score'][i] > results['away_score'][i]:
        winner.append(results['home_team'][i])
    elif results['home_score'][i] < results ['away_score'][i]:
        winner.append(results['away_team'][i])
    else:
        winner.append('Draw')
results['winning_team'] = winner

#adding goal difference column
results['goal_difference'] = np.absolute(results['home_score'] - results['away_score'])

results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,Draw,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,Draw,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,Scotland,3

In [7]:
#lets work with a subset of the data one that includes games played by Nigeria in a Nigeria dataframe
df = results[(results['home_team'] == 'Nigeria') | (results['away_team'] == 'Nigeria')]
nigeria = df.iloc[:]
nigeria.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference
2977,1949-10-08,Sierra Leone,Nigeria,0,2,Friendly,Freetown,Sierra Leone,Nigeria,2
3050,1950-05-28,Ghana,Nigeria,1,0,Friendly,Accra,Gold Coast,Ghana,1
3219,1951-10-20,Nigeria,Ghana,5,0,Friendly,Lagos,Nigeria,Nigeria,5
3492,1953-10-11,Ghana,Nigeria,1,0,Friendly,Accra,Gold Coast,Ghana,1
3654,1954-10-30,Nigeria,Ghana,3,0,Friendly,Lagos,Nigeria,Nigeria,3

In [8]:
#creating a column for year and the first world cup was held in 1930
year = []
for row in nigeria['date']:
    year.append(int(row[:4]))
nigeria ['match_year']= year
nigeria_1930 = nigeria[nigeria.match_year >= 1930]
nigeria_1930.count()

/root/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

date               542
home_team          542
away_team          542
home_score         542
away_score         542
tournament         542
city               542
country            542
winning_team       542
goal_difference    542
match_year         542
dtype: int64

In [9]:
#what is the common game outcome for nigeria visualisation
wins = []
for row in nigeria_1930['winning_team']:
    if row != 'Nigeria' and row != 'Draw':
        wins.append('Loss')
    else:
        wins.append(row)
winsdf= pd.DataFrame(wins, columns=[ 'Nigeria_Results'])

#plotting
fig, ax = plt.subplots(1)
fig.set_size_inches(10.7, 6.27)
sns.set(style='darkgrid')
sns.countplot(x='Nigeria_Results', data=winsdf)

In [9]:
# wins is a good metric to analyze and predict outcomes of matches in the tournament 
#tournament and venue won't add much to our predictions
#historical match records will be used

In [10]:
#narrowing to team patcipating in the world cup
worldcup_teams = ['Australia', ' Iran', 'Japan', 'Korea Republic', 
            'Saudi Arabia', 'Egypt', 'Morocco', 'Nigeria', 
            'Senegal', 'Tunisia', 'Costa Rica', 'Mexico', 
            'Panama', 'Argentina', 'Brazil', 'Colombia', 
            'Peru', 'Uruguay', 'Belgium', 'Croatia', 
            'Denmark', 'England', 'France', 'Germany', 
            'Iceland', 'Poland', 'Portugal', 'Russia', 
            'Serbia', 'Spain', 'Sweden', 'Switzerland']
df_teams_home = results[results['home_team'].isin(worldcup_teams)]
df_teams_away = results[results['away_team'].isin(worldcup_teams)]
df_teams = pd.concat((df_teams_home, df_teams_away))
df_teams.drop_duplicates()
df_teams.count()

date               20565
home_team          20565
away_team          20565
home_score         20565
away_score         20565
tournament         20565
city               20565
country            20565
winning_team       20565
goal_difference    20565
dtype: int64

In [11]:
df_teams.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,England,2
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,Draw,0
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,Scotland,2
10,1879-01-18,England,Wales,2,1,Friendly,London,England,England,1
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,England,1

In [12]:
#create an year column to drop games before 1930
year = []
for row in df_teams['date']:
    year.append(int(row[:4]))
df_teams['match_year'] = year
df_teams_1930 = df_teams[df_teams.match_year >= 1930]
df_teams_1930.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,winning_team,goal_difference,match_year
1230,1930-01-01,Spain,Czechoslovakia,1,0,Friendly,Barcelona,Spain,Spain,1,1930
1231,1930-01-12,Portugal,Czechoslovakia,1,0,Friendly,Lisbon,Portugal,Portugal,1,1930
1237,1930-02-23,Portugal,France,2,0,Friendly,Porto,Portugal,Portugal,2,1930
1238,1930-03-02,Germany,Italy,0,2,Friendly,Frankfurt am Main,Germany,Italy,2,1930
1240,1930-03-23,France,Switzerland,3,3,Friendly,Colombes,France,Draw,0,1930

In [13]:
#dropping columns that wll not affect matchoutcomes
df_teams_1930 = df_teams.drop(['date', 'home_score', 'away_score', 'tournament', 'city', 'country', 'goal_difference', 'match_year'], axis=1)
df_teams_1930.head()

   home_team away_team winning_team
1    England  Scotland      England
3    England  Scotland         Draw
6    England  Scotland     Scotland
10   England     Wales      England
11   England  Scotland      England

In [14]:
#Building the model
#the prediction label: The winning_team column will show "2" if the home team has won, "1" if it was a tie, and "0" if the away team has won.

df_teams_1930 = df_teams_1930.reset_index(drop=True)
df_teams_1930.loc[df_teams_1930.winning_team == df_teams_1930.home_team,'winning_team']=2
df_teams_1930.loc[df_teams_1930.winning_team == 'Draw', 'winning_team']=1
df_teams_1930.loc[df_teams_1930.winning_team == df_teams_1930.away_team, 'winning_team']=0

df_teams_1930.head()

  home_team away_team winning_team
0   England  Scotland            2
1   England  Scotland            1
2   England  Scotland            0
3   England     Wales            2
4   England  Scotland            2

In [29]:
#convert home team and away team from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(df_teams_1930, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Separate X and y sets
X = final.drop(['winning_team'], axis=1)
y = final["winning_team"]
y = y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [33]:
final.head()

,winning_team,home_team_Afghanistan,home_team_Albania,home_team_Algeria,home_team_Andorra,home_team_Angola,home_team_Argentina,home_team_Armenia,home_team_Aruba,home_team_Australia,...,away_team_Venezuela,away_team_Vietnam,away_team_Vietnam Republic,away_team_Wales,away_team_Western Australia,away_team_Yemen,away_team_Yemen DPR,away_team_Yugoslavia,away_team_Zambia,away_team_Zimbabwe
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.573
Test set accuracy:  0.551

In [35]:
## Random Forests

rf_clf = RandomForestClassifier(max_depth=None, random_state=0)

rf_clf.fit(X_train, y_train)

score = rf_clf.score(X_train, y_train)
score2 = rf_clf.score(X_test, y_test)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

importances = rf_clf.feature_importances_
indices = np.argsort(importances)[::-1]

for f in range(X_train.shape[1]):
    print("%d. feature %s (%f%%)" % (f + 1, X_train.columns[indices[f]], 100*importances[indices[f]]))

Training set accuracy:  0.665
Test set accuracy:  0.527
1. feature away_team_Brazil (1.737275%)
2. feature home_team_Brazil (1.599475%)
3. feature away_team_Germany (1.459358%)
4. feature away_team_England (1.331520%)
5. feature home_team_Belgium (1.257369%)
6. feature home_team_Switzerland (1.248392%)
7. feature home_team_Japan (1.131305%)
8. feature home_team_Argentina (1.110021%)
9. feature home_team_Portugal (1.094661%)
10. feature home_team_Denmark (1.065073%)
11. feature home_team_Sweden (1.027678%)
12. feature home_team_Poland (1.017997%)
13. feature away_team_Russia (1.008191%)
14. feature home_team_Colombia (0.984822%)
15. feature home_team_France (0.971955%)
16. feature home_team_Mexico (0.961736%)
17. feature home_team_Germany (0.902955%)
18. feature home_team_Uruguay (0.880736%)
19. feature away_team_Sweden (0.865838%)
20. feature away_team_Argentina (0.828037%)
21. feature away_team_Denmark (0.816377%)
22. feature away_team_Spain (0.813753%)
23. feature home_team_England (0.792465%)
24. feature away_team_Uruguay (0.792240%)
25. feature away_team_Tunisia (0.768657%)
26. feature away_team_Switzerland (0.762294%)
27. feature home_team_Australia (0.758730%)
28. feature home_team_Korea Republic (0.751381%)
29. feature home_team_Italy (0.748050%)
30. feature home_team_Russia (0.744497%)
31. feature home_team_Peru (0.736992%)
32. feature home_team_Spain (0.736426%)
33. feature home_team_Saudi Arabia (0.730796%)
34. feature home_team_Tunisia (0.728969%)
35. feature home_team_Finland (0.724580%)
36. feature away_team_Mexico (0.699098%)
37. feature home_team_Hungary (0.693434%)
38. feature home_team_Croatia (0.670852%)
39. feature home_team_Serbia (0.661213%)
40. feature away_team_Netherlands (0.657755%)
41. feature away_team_Saudi Arabia (0.647412%)
42. feature away_team_Serbia (0.634861%)
43. feature home_team_Netherlands (0.631310%)
44. feature away_team_Korea Republic (0.621075%)
45. feature away_team_Colombia (0.620723%)
46. feature home_team_Luxembourg (0.620462%)
47. feature away_team_Australia (0.620349%)
48. feature home_team_Iceland (0.611172%)
49. feature away_team_Italy (0.604738%)
50. feature away_team_Belgium (0.598720%)
51. feature away_team_Portugal (0.597807%)
52. feature away_team_Iceland (0.592133%)
53. feature away_team_Poland (0.585275%)
54. feature home_team_Egypt (0.563578%)
55. feature home_team_Ireland (0.556999%)
56. feature home_team_USA (0.550819%)
57. feature away_team_Bulgaria (0.545285%)
58. feature away_team_Croatia (0.545190%)
59. feature home_team_Austria (0.543350%)
60. feature away_team_France (0.535156%)
61. feature home_team_Scotland (0.515084%)
62. feature away_team_Japan (0.512086%)
63. feature away_team_Morocco (0.507082%)
64. feature away_team_Egypt (0.498690%)
65. feature home_team_Costa Rica (0.498219%)
66. feature away_team_Hungary (0.492166%)
67. feature away_team_Turkey (0.489863%)
68. feature home_team_Morocco (0.488249%)
69. feature home_team_Norway (0.486755%)
70. feature away_team_German DR (0.486701%)
71. feature away_team_Peru (0.475744%)
72. feature away_team_Paraguay (0.474589%)
73. feature away_team_Nigeria (0.469506%)
74. feature home_team_Romania (0.468274%)
75. feature home_team_Czechoslovakia (0.465798%)
76. feature away_team_Norway (0.460704%)
77. feature home_team_Yugoslavia (0.438318%)
78. feature away_team_Cameroon (0.433579%)
79. feature away_team_Yugoslavia (0.431169%)
80. feature home_team_Faroe Islands (0.430267%)
81. feature away_team_Romania (0.425185%)
82. feature away_team_Scotland (0.424812%)
83. feature home_team_Malta (0.423862%)
84. feature away_team_Chile (0.421992%)
85. feature away_team_Costa Rica (0.420136%)
86. feature home_team_Nigeria (0.418677%)
87. feature home_team_Turkey (0.416303%)
88. feature away_team_Finland (0.410960%)
89. feature away_team_USA (0.395542%)
90. feature home_team_South Africa (0.386365%)
91. feature home_team_Israel (0.383241%)
92. feature home_team_Chile (0.377429%)
93. feature home_team_Paraguay (0.377221%)
94. feature away_team_Czechoslovakia (0.377051%)
95. feature home_team_Northern Ireland (0.375019%)
96. feature home_team_Greece (0.364893%)
97. feature home_team_Senegal (0.363710%)
98. feature away_team_Czech Republic (0.361945%)
99. feature away_team_Senegal (0.360506%)
100. feature home_team_Canada (0.360256%)
101. feature away_team_Ireland (0.357995%)
102. feature home_team_Wales (0.357442%)
103. feature home_team_Singapore (0.350327%)
104. feature home_team_German DR (0.346261%)
105. feature away_team_Austria (0.339551%)
106. feature home_team_Ukraine (0.331389%)
107. feature home_team_Cyprus (0.331144%)
108. feature away_team_Greece (0.323467%)
109. feature home_team_Ecuador (0.318227%)
110. feature home_team_Slovakia (0.314376%)
111. feature home_team_Panama (0.309990%)
112. feature away_team_Wales (0.307903%)
113. feature home_team_Estonia (0.304959%)
114. feature home_team_Slovenia (0.302782%)
115. feature away_team_Northern Ireland (0.296678%)
116. feature home_team_Algeria (0.293985%)
117. feature away_team_Malta (0.293729%)
118. feature away_team_Luxembourg (0.287890%)
119. feature home_team_Kuwait (0.286904%)
120. feature away_team_South Africa (0.285301%)
121. feature away_team_Ecuador (0.284277%)
122. feature home_team_China (0.278469%)
123. feature home_team_Venezuela (0.278237%)
124. feature home_team_Albania (0.274972%)
125. feature home_team_Bulgaria (0.273887%)
126. feature home_team_Iran (0.273340%)
127. feature away_team_Ghana (0.270766%)
128. feature home_team_Latvia (0.266425%)
129. feature home_team_India (0.264342%)
130. feature home_team_Cameroon (0.251697%)
131. feature away_team_Israel (0.249919%)
132. feature home_team_Haiti (0.248196%)
133. feature home_team_Czech Republic (0.247563%)
134. feature home_team_El Salvador (0.247389%)
135. feature home_team_Armenia (0.247369%)
136. feature home_team_Jamaica (0.244903%)
137. feature home_team_Indonesia (0.244299%)
138. feature away_team_Faroe Islands (0.243466%)
139. feature home_team_Hong Kong (0.241939%)
140. feature home_team_San Marino (0.241689%)
141. feature home_team_Bolivia (0.241469%)
142. feature home_team_Liechtenstein (0.238344%)
143. feature away_team_Panama (0.237596%)
144. feature home_team_Gambia (0.232483%)
145. feature home_team_Macedonia (0.230516%)
146. feature home_team_United Arab Emirates (0.228506%)
147. feature home_team_Oman (0.228288%)
148. feature away_team_Ivory Coast (0.227310%)
149. feature home_team_Iraq (0.226802%)
150. feature away_team_Slovakia (0.225164%)
151. feature home_team_Yemen (0.224619%)
152. feature away_team_Honduras (0.222020%)
153. feature home_team_Belarus (0.221322%)
154. feature away_team_Iran (0.217916%)
155. feature away_team_Algeria (0.213564%)
156. feature home_team_Ghana (0.211361%)
157. feature away_team_China (0.207932%)
158. feature home_team_Qatar (0.201745%)
159. feature home_team_Ivory Coast (0.200179%)
160. feature away_team_Albania (0.196379%)
161. feature home_team_Honduras (0.195887%)
162. feature away_team_Indonesia (0.195380%)
163. feature home_team_Lithuania (0.193328%)
164. feature away_team_Ukraine (0.191648%)
165. feature home_team_Bosnia-Herzegovina (0.191122%)
166. feature away_team_Iraq (0.189792%)
167. feature home_team_Andorra (0.189742%)
168. feature home_team_Syria (0.189035%)
169. feature home_team_Moldova (0.186388%)
170. feature away_team_Canada (0.185850%)
171. feature away_team_Bolivia (0.184958%)
172. feature home_team_Korea DPR (0.182397%)
173. feature home_team_Malaysia (0.181198%)
174. feature away_team_Togo (0.175454%)
175. feature away_team_New Zealand (0.173619%)
176. feature home_team_Guatemala (0.173315%)
177. feature away_team_Venezuela (0.171788%)
178. feature home_team_Azerbaijan (0.171591%)
179. feature home_team_Thailand (0.171085%)
180. feature away_team_Macedonia (0.169667%)
181. feature home_team_Kazakhstan (0.168328%)
182. feature home_team_New Zealand (0.163995%)
183. feature home_team_Cuba (0.160518%)
184. feature away_team_Estonia (0.156957%)
185. feature away_team_Zambia (0.155394%)
186. feature home_team_Togo (0.153143%)
187. feature away_team_Qatar (0.152241%)
188. feature home_team_Kenya (0.151075%)
189. feature away_team_Kuwait (0.150618%)
190. feature home_team_Liberia (0.147615%)
191. feature home_team_Nicaragua (0.147478%)
192. feature home_team_Zimbabwe (0.147439%)
193. feature home_team_Georgia (0.146859%)
194. feature home_team_Libya (0.146810%)
195. feature away_team_Lithuania (0.146074%)
196. feature away_team_Cyprus (0.145881%)
197. feature away_team_Bosnia-Herzegovina (0.143686%)
198. feature away_team_Korea DPR (0.141884%)
199. feature home_team_Zambia (0.140988%)
200. feature away_team_Slovenia (0.140189%)
201. feature away_team_Jamaica (0.138975%)
202. feature away_team_Mali (0.137198%)
203. feature away_team_Latvia (0.136981%)
204. feature away_team_Trinidad and Tobago (0.135184%)
205. feature home_team_Guinea (0.134748%)
206. feature home_team_Rwanda (0.133919%)
207. feature away_team_Guinea (0.133591%)
208. feature home_team_Mauritania (0.131451%)
209. feature home_team_Jordan (0.130930%)
210. feature away_team_Liechtenstein (0.129857%)
211. feature home_team_Trinidad and Tobago (0.128144%)
212. feature home_team_Burkina Faso (0.126491%)
213. feature home_team_Bahrain (0.125940%)
214. feature home_team_Angola (0.125375%)
215. feature away_team_Burkina Faso (0.125250%)
216. feature home_team_Mali (0.124421%)
217. feature home_team_Cape Verde (0.124410%)
218. feature away_team_Angola (0.124190%)
219. feature away_team_Nicaragua (0.122377%)
220. feature home_team_Benin (0.120515%)
221. feature away_team_Syria (0.119817%)
222. feature away_team_United Arab Emirates (0.119764%)
223. feature home_team_Gabon (0.119574%)
224. feature home_team_Sudan (0.118704%)
225. feature away_team_Andorra (0.116940%)
226. feature away_team_Armenia (0.115305%)
227. feature home_team_Sierra Leone (0.113114%)
228. feature away_team_Belarus (0.112304%)
229. feature home_team_Congo DR (0.112158%)
230. feature home_team_Botswana (0.110520%)
231. feature home_team_Tahiti (0.110244%)
232. feature home_team_Tanzania (0.109206%)
233. feature home_team_Congo (0.109079%)
234. feature home_team_Montenegro (0.107123%)
235. feature away_team_Kazakhstan (0.105991%)
236. feature home_team_Niger (0.105561%)
237. feature home_team_Uganda (0.103038%)
238. feature away_team_San Marino (0.101336%)
239. feature home_team_Uzbekistan (0.100932%)
240. feature home_team_Dominican Republic (0.100042%)
241. feature away_team_CuraÃ§ao (0.099217%)
242. feature away_team_Azerbaijan (0.098543%)
243. feature away_team_Thailand (0.097882%)
244. feature home_team_Lebanon (0.096365%)
245. feature away_team_Ethiopia (0.095693%)
246. feature away_team_Uganda (0.095402%)
247. feature away_team_Jordan (0.093168%)
248. feature away_team_Georgia (0.090801%)
249. feature away_team_Kenya (0.089239%)
250. feature home_team_Ethiopia (0.088109%)
251. feature away_team_El Salvador (0.086856%)
252. feature away_team_Sierra Leone (0.086496%)
253. feature away_team_Gabon (0.085853%)
254. feature away_team_Bahrain (0.081618%)
255. feature away_team_Uzbekistan (0.081536%)
256. feature away_team_Guatemala (0.081105%)
257. feature away_team_Hong Kong (0.078437%)
258. feature away_team_Central African Republic (0.076588%)
259. feature away_team_Moldova (0.073937%)
260. feature away_team_Zimbabwe (0.073800%)
261. feature away_team_Congo (0.073143%)
262. feature away_team_Cape Verde (0.072485%)
263. feature home_team_Namibia (0.072385%)
264. feature away_team_Congo DR (0.071696%)
265. feature home_team_Malawi (0.071603%)
266. feature away_team_Liberia (0.070361%)
267. feature home_team_Cambodia (0.069788%)
268. feature home_team_Mozambique (0.069717%)
269. feature home_team_CuraÃ§ao (0.069387%)
270. feature away_team_Singapore (0.068985%)
271. feature away_team_Sudan (0.068582%)
272. feature away_team_Haiti (0.068201%)
273. feature away_team_Montenegro (0.067951%)
274. feature home_team_Burma (0.067665%)
275. feature home_team_Palestine (0.067090%)
276. feature away_team_Libya (0.065687%)
277. feature home_team_Guinea-Bissau (0.064515%)
278. feature home_team_Solomon Islands (0.064462%)
279. feature away_team_Gambia (0.063237%)
280. feature home_team_Grenada (0.059185%)
281. feature away_team_Malawi (0.058492%)
282. feature away_team_Malaysia (0.057890%)
283. feature away_team_Benin (0.056830%)
284. feature home_team_Mauritius (0.056592%)
285. feature home_team_Suriname (0.055844%)
286. feature home_team_Macau (0.055662%)
287. feature away_team_Yemen DPR (0.053836%)
288. feature away_team_India (0.053669%)
289. feature away_team_Niger (0.053035%)
290. feature away_team_Namibia (0.052935%)
291. feature home_team_Vietnam (0.052596%)
292. feature away_team_Cuba (0.051941%)
293. feature home_team_Bangladesh (0.051590%)
294. feature home_team_Madagascar (0.050920%)
295. feature away_team_Palestine (0.049466%)
296. feature away_team_Burma (0.049422%)
297. feature away_team_Tanzania (0.049210%)
298. feature away_team_Botswana (0.048380%)
299. feature away_team_Yemen (0.047453%)
300. feature home_team_Kosovo (0.045344%)
301. feature home_team_Chad (0.042918%)
302. feature away_team_Bermuda (0.041645%)
303. feature away_team_Bangladesh (0.041115%)
304. feature away_team_Lebanon (0.040867%)
305. feature home_team_Equatorial Guinea (0.040864%)
306. feature home_team_New Caledonia (0.040460%)
307. feature away_team_Mauritania (0.040163%)
308. feature away_team_Taiwan (0.039383%)
309. feature home_team_Sri Lanka (0.039227%)
310. feature away_team_Belize (0.038082%)
311. feature away_team_Tahiti (0.037923%)
312. feature home_team_Vietnam Republic (0.037248%)
313. feature home_team_Fiji (0.036948%)
314. feature away_team_Guadeloupe (0.036727%)
315. feature away_team_Mozambique (0.036275%)
316. feature home_team_Turkmenistan (0.036208%)
317. feature away_team_Oman (0.036162%)
318. feature home_team_Greenland (0.033286%)
319. feature home_team_East Timor (0.031759%)
320. feature home_team_Tajikistan (0.031012%)
321. feature home_team_Puerto Rico (0.030577%)
322. feature home_team_Philippines (0.030300%)
323. feature away_team_Nepal (0.030163%)
324. feature home_team_Vanuatu (0.029618%)
325. feature away_team_Martinique (0.029417%)
326. feature home_team_Gibraltar (0.028002%)
327. feature home_team_Belize (0.027657%)
328. feature away_team_Sri Lanka (0.026875%)
329. feature home_team_Manchukuo (0.026838%)
330. feature away_team_Solomon Islands (0.026723%)
331. feature away_team_Turkmenistan (0.026096%)
332. feature home_team_Guam (0.025989%)
333. feature home_team_Burundi (0.025641%)
334. feature home_team_Kyrgyzstan (0.025565%)
335. feature home_team_Nepal (0.025229%)
336. feature home_team_Lesotho (0.024312%)
337. feature away_team_Western Australia (0.024131%)
338. feature home_team_Swaziland (0.023572%)
339. feature home_team_Central African Republic (0.023016%)
340. feature home_team_Martinique (0.022143%)
341. feature home_team_Dominica (0.021931%)
342. feature home_team_Barbados (0.021017%)
343. feature away_team_Rwanda (0.020415%)
344. feature home_team_Mongolia (0.020151%)
345. feature home_team_Saarland (0.019108%)
346. feature home_team_St Lucia (0.018070%)
347. feature away_team_Vietnam (0.017945%)
348. feature home_team_Northern Cyprus (0.017492%)
349. feature away_team_Macau (0.017397%)
350. feature away_team_Pakistan (0.017373%)
351. feature home_team_Laos (0.017092%)
352. feature away_team_Vietnam Republic (0.016964%)
353. feature away_team_Puerto Rico (0.016904%)
354. feature away_team_Madagascar (0.016309%)
355. feature home_team_Maldives (0.015923%)
356. feature away_team_Mongolia (0.015288%)
357. feature home_team_Eritrea (0.014962%)
358. feature away_team_Equatorial Guinea (0.014808%)
359. feature home_team_Guadeloupe (0.014649%)
360. feature away_team_Cambodia (0.014180%)
361. feature away_team_Fiji (0.013301%)
362. feature away_team_Philippines (0.011954%)
363. feature away_team_Grenada (0.011930%)
364. feature home_team_Guyana (0.011778%)
365. feature away_team_Gibraltar (0.011738%)
366. feature home_team_Tonga (0.011729%)
367. feature home_team_SÃ£o TomÃ© and PrÃ­ncipe (0.011463%)
368. feature away_team_Burundi (0.011440%)
369. feature home_team_Pakistan (0.011344%)
370. feature away_team_St Lucia (0.010624%)
371. feature away_team_Chad (0.010198%)
372. feature away_team_Seychelles (0.009859%)
373. feature away_team_Djibouti (0.009843%)
374. feature away_team_Dominican Republic (0.009819%)
375. feature home_team_Afghanistan (0.009599%)
376. feature away_team_Vanuatu (0.009226%)
377. feature away_team_Afghanistan (0.009182%)
378. feature away_team_Laos (0.008900%)
379. feature away_team_Suriname (0.008282%)
380. feature away_team_Lesotho (0.007502%)
381. feature home_team_Zanzibar (0.007006%)
382. feature away_team_Papua New Guinea (0.006860%)
383. feature away_team_Maldives (0.006442%)
384. feature away_team_Tajikistan (0.006387%)
385. feature away_team_Guinea-Bissau (0.005976%)
386. feature away_team_Manchukuo (0.005819%)
387. feature away_team_Swaziland (0.005405%)
388. feature away_team_Samoa (0.004990%)
389. feature away_team_Cook Islands (0.004634%)
390. feature away_team_Kyrgyzstan (0.004601%)
391. feature away_team_Mauritius (0.004084%)
392. feature away_team_Aruba (0.004034%)
393. feature away_team_Barbados (0.004015%)
394. feature away_team_Brunei (0.003845%)
395. feature away_team_East Timor (0.003845%)
396. feature away_team_North Vietnam (0.003815%)
397. feature away_team_Eritrea (0.003799%)
398. feature away_team_Bhutan (0.003663%)
399. feature away_team_American Samoa (0.003305%)
400. feature away_team_Guyana (0.002336%)
401. feature away_team_Saarland (0.002280%)
402. feature away_team_New Caledonia (0.001765%)
403. feature away_team_Kosovo (0.000000%)
404. feature home_team_St Kitts and Nevis (0.000000%)
405. feature home_team_Djibouti (0.000000%)
406. feature home_team_Seychelles (0.000000%)
407. feature home_team_Aruba (0.000000%)
408. feature home_team_Bhutan (0.000000%)
409. feature home_team_Bermuda (0.000000%)
410. feature away_team_Guam (0.000000%)
411. feature home_team_Brunei (0.000000%)
412. feature away_team_Dominica (0.000000%)
413. feature away_team_St Kitts and Nevis (0.000000%)
414. feature away_team_Greenland (0.000000%)
415. feature away_team_St Vincent and the Grenadines (0.000000%)
416. feature away_team_French Guyana (0.000000%)

In [33]:
X_train.columns[23]

'home_team_Brazil'

In [36]:
#adding Fifa rankings
#the team which is positioned higher on the FIFA Ranking will be considered "favourite" for the match
#and therefore, will be positioned under the "home_teams" column
#since there are no "home" or "away" teams in World Cup games. 

# Loading new datasets
ranking = pd.read_csv('datasets/fifa_rankings.csv') 
fixtures = pd.read_csv('datasets/fixtures.csv')

# List for storing the group stage games
pred_set = []

In [37]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Home Team'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Away Team'].map(ranking.set_index('Team')['Position']))

# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:48, :]
fixtures.tail()

,Round Number,first_position,second_position,Date,Location,Home Team,Away Team,Group,Result
43,3,6.0,25.0,27/06/2018 21:00,Nizhny Novgorod Stadium,Switzerland,Costa Rica,Group E,NaN
44,3,60.0,10.0,28/06/2018 17:00,Volgograd Stadium,Japan,Poland,Group H,NaN
45,3,28.0,16.0,28/06/2018 17:00,Samara Stadium,Senegal,Colombia,Group H,NaN
46,3,55.0,14.0,28/06/2018 21:00,Saransk Stadium,Panama,Tunisia,Group G,NaN
47,3,13.0,3.0,28/06/2018 21:00,Kaliningrad Stadium,England,Belgium,Group G,NaN

In [38]:
# Loop to add teams to new prediction dataset based on the ranking position of each team
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team'], 'winning_team': None})
    else:
        pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

pred_set.head()

      away_team home_team winning_team
0  Saudi Arabia    Russia         None
1         Egypt   Uruguay         None
2       Morocco      Iran         None
3         Spain  Portugal         None
4     Australia    France         None

In [39]:
# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

# Remove winning team column
pred_set = pred_set.drop(['winning_team'], axis=1)

pred_set.head()

,home_team_Afghanistan,home_team_Albania,home_team_Algeria,home_team_Andorra,home_team_Angola,home_team_Argentina,home_team_Armenia,home_team_Aruba,home_team_Australia,home_team_Austria,...,away_team_Venezuela,away_team_Vietnam,away_team_Vietnam Republic,away_team_Wales,away_team_Western Australia,away_team_Yemen,away_team_Yemen DPR,away_team_Yugoslavia,away_team_Zambia,away_team_Zimbabwe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
#group matches 
predictions = logreg.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 2:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    elif predictions[i] == 1:
        print("Draw")
    elif predictions[i] == 0:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][2]))
    print('Probability of Draw: ', '%.3f'%(logreg.predict_proba(pred_set)[i][1]))
    print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][0]))
    print("")

Russia and Saudi Arabia
Winner: Russia
Probability of Russia winning:  0.667
Probability of Draw:  0.223
Probability of Saudi Arabia winning:  0.111

Uruguay and Egypt
Winner: Uruguay
Probability of Uruguay winning:  0.583
Probability of Draw:  0.352
Probability of Egypt winning:  0.065

Iran and Morocco
Draw
Probability of Iran winning:  0.217
Probability of Draw:  0.407
Probability of Morocco winning:  0.376

Portugal and Spain
Winner: Spain
Probability of Portugal winning:  0.302
Probability of Draw:  0.344
Probability of Spain winning:  0.354

France and Australia
Winner: France
Probability of France winning:  0.628
Probability of Draw:  0.227
Probability of Australia winning:  0.145

Argentina and Iceland
Winner: Argentina
Probability of Argentina winning:  0.803
Probability of Draw:  0.161
Probability of Iceland winning:  0.036

Peru and Denmark
Winner: Peru
Probability of Peru winning:  0.439
Probability of Draw:  0.171
Probability of Denmark winning:  0.391

Croatia and Nigeria
Winner: Croatia
Probability of Croatia winning:  0.590
Probability of Draw:  0.258
Probability of Nigeria winning:  0.152

Costa Rica and Serbia
Winner: Serbia
Probability of Costa Rica winning:  0.315
Probability of Draw:  0.324
Probability of Serbia winning:  0.361

Germany and Mexico
Winner: Germany
Probability of Germany winning:  0.567
Probability of Draw:  0.282
Probability of Mexico winning:  0.150

Brazil and Switzerland
Winner: Brazil
Probability of Brazil winning:  0.775
Probability of Draw:  0.138
Probability of Switzerland winning:  0.087

Sweden and Korea Republic
Winner: Sweden
Probability of Sweden winning:  0.503
Probability of Draw:  0.329
Probability of Korea Republic winning:  0.168

Belgium and Panama
Winner: Belgium
Probability of Belgium winning:  0.765
Probability of Draw:  0.145
Probability of Panama winning:  0.090

England and Tunisia
Winner: England
Probability of England winning:  0.649
Probability of Draw:  0.292
Probability of Tunisia winning:  0.059

Colombia and Japan
Winner: Colombia
Probability of Colombia winning:  0.511
Probability of Draw:  0.210
Probability of Japan winning:  0.280

Poland and Senegal
Winner: Poland
Probability of Poland winning:  0.612
Probability of Draw:  0.223
Probability of Senegal winning:  0.165

Egypt and Russia
Winner: Russia
Probability of Egypt winning:  0.225
Probability of Draw:  0.297
Probability of Russia winning:  0.478

Portugal and Morocco
Winner: Portugal
Probability of Portugal winning:  0.486
Probability of Draw:  0.377
Probability of Morocco winning:  0.138

Uruguay and Saudi Arabia
Winner: Uruguay
Probability of Uruguay winning:  0.668
Probability of Draw:  0.259
Probability of Saudi Arabia winning:  0.073

Spain and Iran
Winner: Spain
Probability of Spain winning:  0.695
Probability of Draw:  0.247
Probability of Iran winning:  0.058

Denmark and Australia
Winner: Denmark
Probability of Denmark winning:  0.551
Probability of Draw:  0.241
Probability of Australia winning:  0.207

France and Peru
Winner: France
Probability of France winning:  0.635
Probability of Draw:  0.215
Probability of Peru winning:  0.150

Argentina and Croatia
Winner: Argentina
Probability of Argentina winning:  0.599
Probability of Draw:  0.255
Probability of Croatia winning:  0.146

Brazil and Costa Rica
Winner: Brazil
Probability of Brazil winning:  0.800
Probability of Draw:  0.147
Probability of Costa Rica winning:  0.053

Iceland and Nigeria
Winner: Nigeria
Probability of Iceland winning:  0.278
Probability of Draw:  0.248
Probability of Nigeria winning:  0.474

Switzerland and Serbia
Winner: Switzerland
Probability of Switzerland winning:  0.402
Probability of Draw:  0.228
Probability of Serbia winning:  0.370

Belgium and Tunisia
Winner: Belgium
Probability of Belgium winning:  0.619
Probability of Draw:  0.253
Probability of Tunisia winning:  0.128

Mexico and Korea Republic
Winner: Mexico
Probability of Mexico winning:  0.504
Probability of Draw:  0.327
Probability of Korea Republic winning:  0.169

Germany and Sweden
Winner: Germany
Probability of Germany winning:  0.571
Probability of Draw:  0.228
Probability of Sweden winning:  0.201

England and Panama
Winner: England
Probability of England winning:  0.781
Probability of Draw:  0.178
Probability of Panama winning:  0.041

Senegal and Japan
Winner: Senegal
Probability of Senegal winning:  0.397
Probability of Draw:  0.278
Probability of Japan winning:  0.325

Poland and Colombia
Draw
Probability of Poland winning:  0.379
Probability of Draw:  0.391
Probability of Colombia winning:  0.230

Uruguay and Russia
Winner: Uruguay
Probability of Uruguay winning:  0.403
Probability of Draw:  0.388
Probability of Russia winning:  0.209

Egypt and Saudi Arabia
Winner: Egypt
Probability of Egypt winning:  0.544
Probability of Draw:  0.216
Probability of Saudi Arabia winning:  0.240

Portugal and Iran
Winner: Portugal
Probability of Portugal winning:  0.548
Probability of Draw:  0.353
Probability of Iran winning:  0.099

Spain and Morocco
Winner: Spain
Probability of Spain winning:  0.650
Probability of Draw:  0.267
Probability of Morocco winning:  0.083

France and Denmark
Winner: France
Probability of France winning:  0.621
Probability of Draw:  0.159
Probability of Denmark winning:  0.220

Peru and Australia
Winner: Peru
Probability of Peru winning:  0.463
Probability of Draw:  0.250
Probability of Australia winning:  0.288

Argentina and Nigeria
Winner: Argentina
Probability of Argentina winning:  0.708
Probability of Draw:  0.222
Probability of Nigeria winning:  0.070

Croatia and Iceland
Winner: Croatia
Probability of Croatia winning:  0.734
Probability of Draw:  0.185
Probability of Iceland winning:  0.080

Mexico and Sweden
Winner: Mexico
Probability of Mexico winning:  0.465
Probability of Draw:  0.264
Probability of Sweden winning:  0.271

Germany and Korea Republic
Winner: Germany
Probability of Germany winning:  0.598
Probability of Draw:  0.282
Probability of Korea Republic winning:  0.120

Brazil and Serbia
Winner: Brazil
Probability of Brazil winning:  0.714
Probability of Draw:  0.165
Probability of Serbia winning:  0.120

Switzerland and Costa Rica
Winner: Switzerland
Probability of Switzerland winning:  0.587
Probability of Draw:  0.213
Probability of Costa Rica winning:  0.200

Poland and Japan
Winner: Poland
Probability of Poland winning:  0.551
Probability of Draw:  0.242
Probability of Japan winning:  0.206

Colombia and Senegal
Winner: Colombia
Probability of Colombia winning:  0.577
Probability of Draw:  0.194
Probability of Senegal winning:  0.229

Tunisia and Panama
Winner: Tunisia
Probability of Tunisia winning:  0.631
Probability of Draw:  0.257
Probability of Panama winning:  0.113

Belgium and England
Winner: England
Probability of Belgium winning:  0.273
Probability of Draw:  0.235
Probability of England winning:  0.492

In [51]:
# List of tuples before 
group_16 = [('Uruguay', 'Portugal'),
            ('France', 'Argentina'),
            ('Brazil', 'Mexico'),
            ('Belgium', 'Senegal'),
            ('Spain', 'Russia'),
            ('Croatia', 'Denmark'),
            ('Sweden', 'Switzerland'),
            ('Colombia', 'England')]

In [52]:
def clean_and_predict(matches, ranking, final, logreg):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to FIFA ranking
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'Position'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'Position'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better, he will be the 'home' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'home_team': matches[j][0], 'away_team': matches[j][1]})
        else:
            dict1.update({'home_team': matches[j][1], 'away_team': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1

    # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    # Remove winning team column
    pred_set = pred_set.drop(['winning_team'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 2:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        elif predictions[i] == 1:
            print("Draw")
        elif predictions[i] == 0:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ' , '%.3f'%(logreg.predict_proba(pred_set)[i][2]))
        print('Probability of Draw: ', '%.3f'%(logreg.predict_proba(pred_set)[i][1])) 
        print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(logreg.predict_proba(pred_set)[i][0]))
        print("")

In [53]:
clean_and_predict(group_16, ranking, final, rf_clf)

Portugal and Uruguay
Winner: Portugal
Probability of Portugal winning:  0.577
Probability of Draw:  0.423
Probability of Uruguay winning:  0.000

Argentina and France
Winner: Argentina
Probability of Argentina winning:  0.563
Probability of Draw:  0.437
Probability of France winning:  0.000

Brazil and Mexico
Winner: Brazil
Probability of Brazil winning:  0.784
Probability of Draw:  0.139
Probability of Mexico winning:  0.077

Belgium and Senegal
Winner: Belgium
Probability of Belgium winning:  0.525
Probability of Draw:  0.283
Probability of Senegal winning:  0.192

Spain and Russia
Winner: Spain
Probability of Spain winning:  0.800
Probability of Draw:  0.200
Probability of Russia winning:  0.000

Denmark and Croatia
Winner: Denmark
Probability of Denmark winning:  0.685
Probability of Draw:  0.100
Probability of Croatia winning:  0.215

Switzerland and Sweden
Winner: Switzerland
Probability of Switzerland winning:  0.655
Probability of Draw:  0.195
Probability of Sweden winning:  0.150

England and Colombia
Draw
Probability of England winning:  0.093
Probability of Draw:  0.879
Probability of Colombia winning:  0.029

In [54]:
# List of matches
quarters = [('Portugal', 'Argentina'),
            ('Brazil', 'Belgium'),
            ('Spain', 'Denmark'),
            ('Switzerland', 'England')]

In [55]:
clean_and_predict(quarters, ranking, final, rf_clf)

Portugal and Argentina
Winner: Argentina
Probability of Portugal winning:  0.246
Probability of Draw:  0.297
Probability of Argentina winning:  0.457

Brazil and Belgium
Winner: Brazil
Probability of Brazil winning:  0.981
Probability of Draw:  0.012
Probability of Belgium winning:  0.007

Spain and Denmark
Winner: Spain
Probability of Spain winning:  0.771
Probability of Draw:  0.000
Probability of Denmark winning:  0.229

Switzerland and England
Winner: England
Probability of Switzerland winning:  0.215
Probability of Draw:  0.090
Probability of England winning:  0.695

In [56]:
# List of matches
semi = [('Argentina', 'Brazil'),
        ('Spain', 'England')]

In [57]:
clean_and_predict(semi, ranking, final, rf_clf)

Brazil and Argentina
Winner: Brazil
Probability of Brazil winning:  0.573
Probability of Draw:  0.130
Probability of Argentina winning:  0.297

Spain and England
Winner: England
Probability of Spain winning:  0.388
Probability of Draw:  0.197
Probability of England winning:  0.415

In [58]:
# Finals
finals = [('Brazil', 'England')]

In [59]:
clean_and_predict(finals, ranking, final, rf_clf)

Brazil and England
Winner: Brazil
Probability of Brazil winning:  0.512
Probability of Draw:  0.286
Probability of England winning:  0.202